---
import { getCollection } from 'astro:content'
import { formatDate } from '../../../lib/date.ts'

import Base from '../../../layouts/Base.astro'
import Card from '../../../components/ProjectCard.astro'

export async function getStaticPaths() {
  const allProjects = await getCollection('project')

  const uniqueTags = [
    ...new Set(allProjects.map((project) => project.data.tags).flat()),
  ]

  return uniqueTags.map((tag: string) => {
    const filteredPosts = allProjects.filter((project) =>
      project.data.tags.includes(tag),
    )
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<Base meta={{ title: 'Posts tagged with ' + tag }}>
  <h2 class="mb-10 text-2xl font-heading tracking-wide w500:text-lg">
    Posts tagged with <span class="text-text dark:text-darkText">#{tag}</span>
  </h2>
  <div class="grid grid-cols-2 gap-5 w700:grid-cols-1">
    {
      posts.map((project) => (
        <Card
          url={`/${project.slug}`}
          heroImage={project.data.heroImage}
          heroAlt={project.data.heroAlt}
          title={project.data.title}
          description={project.data.description}
          publishbDate={formatDate(project.data.publishDate)}
        />
      ))
    }
  </div>
</Base>
