---
import config from '@/config'
import type { PaginateFunction } from 'astro'
import { getCollection, type CollectionEntry } from 'astro:content'

import Base from '@/layouts/Base.astro'
import Card from '@/components/ProjectCard.astro'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const blogs: CollectionEntry<'project'>[] = await getCollection('project')
  blogs.sort((a, b) => {
    const dateA = new Date(a.data.publishDate).valueOf()
    const dateB = new Date(b.data.publishDate).valueOf()
    return dateB - dateA
  })
  return paginate(blogs, { pageSize: 10 })
}

const allProjects = await getCollection('project')
const sortedProjects = allProjects.sort(
  (a, b) =>
    new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf(),
)
---

<Base meta={{ title: config.title }}>
  <div class="grid grid-cols-2 gap-5 w700:grid-cols-1">
    {
      sortedProjects.map((project) => (
        <Card
          url={project.slug}
          heroImage={project.data.heroImage}
          heroAlt={project.data.heroAlt}
          draft={project.data.draft}
          title={project.data.title}
          description={project.data.description}
          publishDate={project.data.publishDate}
        />
      ))
    }
  </div>
</Base>
