---
import config from '@/config'
import { cvConfig } from '@/config/cv'
import Base from '@/layouts/Base.astro'
import TimeLine from '@/components/cv/TimeLine.astro'
import { Icon } from 'astro-icon/components'
---

<Base meta={{ title: `${config.title} - CV` }}>
  <div class="mb-5">
    <div class="w-full text-3xl font-bold">Profil</div>
  </div>

  <div class="mb-10 text-justify">
    {cvConfig.profileDescription}
  </div>

  <div class="mb-5">
    <div class="w-full text-3xl font-bold">Pendidikan</div>
  </div>

  <div class="time-line-container mb-10 grid gap-4">
    {cvConfig.education.map((item) => (
      <TimeLine
        title={item.title}
        subtitle={item.subtitle}
      />
    ))}
  </div>

  <div class="mb-5">
    <div class="w-full text-3xl font-bold">Pengalaman</div>
  </div>

  <div class="time-line-container mb-10">
    {cvConfig.experience.map((item) => (
      <TimeLine
        title={item.title}
        subtitle={item.subtitle}
      >
        {item.description}
      </TimeLine>
    ))}
  </div>

  <div class="mb-5">
    <div class="w-full text-3xl font-bold">Sertifikasi</div>
  </div>

  <ul class="mx-6 mb-10 grid list-disc gap-2">
    {cvConfig.certifications.map((item) => (
      <li>
        <a
          class="hover:text-emerald-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-main rounded-sm inline-flex items-center gap-1"
          href={item.url}
          target="_blank"
          rel="noopener noreferrer"
        >
          {item.title}
          <Icon name="tabler:external-link" class="h-4 w-4" aria-hidden="true" />
          <span class="sr-only">(opens in a new tab)</span>
        </a>
      </li>
    ))}
  </ul>

  <div class="mb-5">
    <div class="w-full text-3xl font-bold">Kemampuan</div>
  </div>

  <ul class="mx-6 list-disc">
    {cvConfig.skills.map((skill) => (
      <li>{skill}</li>
    ))}
  </ul>
</Base>
