---
import config from '../config'
import Base from '@/layouts/Base.astro'
import { Image } from 'astro:assets'
import SocialLinks from '../components/SocialLinks.astro'
import BrutalTag from '../components/BrutalTag.astro'

import { PROFILE } from '../constants/profile'
import PostCard from '@/components/PostCard.astro'
import ProjectCard from '@/components/ProjectCard.astro'

const posts = (await Astro.glob('../content/blog/*.mdx'))
  .filter((post) => !post.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )
  .slice(0, 3)

const projects = (await Astro.glob('../content/project/*.mdx'))
  .filter((project) => !project.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )
  .slice(0, 3)
---

<Base meta={{ title: `${config.title} - Homepage` }}>
  <div
    class="mt-5 flex flex-wrap items-center justify-center gap-8 pb-12 text-text dark:text-darkText md:justify-between"
  >
    <div class="max-w-md">
      <BrutalTag emoji="🤣" text="Fullstuck Developer" />
      <p class="mt-4 text-lg leading-relaxed">
        Saya adalah seorang Fullstuck Developer yang sangat cupu. ngoding Python aja
        kadang ngeblank, plus suka FOMO sama tech stack terbaru. Ajarin dong puh, sepuh🙏.
      </p>
    </div>

    <div class="flex flex-col items-center text-center">
      <div class="group relative h-[200px] w-[200px] md:h-[250px] md:w-[250px]">
        <Image
          height={250}
          width={250}
          src="/profile.jpg"
          alt="indra87g Avatar"
          class="relative z-10 rounded-full border-[6px] border-main bg-main"
        />
        <div
          class="absolute left-0 top-0 -z-10 h-full w-full rounded-full bg-gradient-to-br from-pink-400 to-purple-600 transition-transform group-hover:scale-110"
        >
        </div>
      </div>

      <div class="mt-4">
        <div class="text-4xl font-bold text-main">{PROFILE.NAME}</div>
        <div class="text-lg">Call me "Indra"</div>
      </div>

      <div class="mt-4 flex gap-4">
        <SocialLinks />
      </div>
    </div
  </div>

  <div class="mt-16">
    <h2 class="text-3xl font-bold text-center">Recent Posts</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
      {
        posts.map((post) => (
          <PostCard
            url={post.url}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            publishDate={post.frontmatter.publishDate.toString().slice(0, 10)}
            heroImage={post.frontmatter.heroImage}
            heroAlt={post.frontmatter.heroAlt}
          />
        ))
      }
    </div>
  </div>

  <div class="mt-16">
    <h2 class="text-3xl font-bold text-center">Recent Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
      {
        projects.map((project) => (
          <ProjectCard
            url={project.url}
            title={project.frontmatter.title}
            description={project.frontmatter.description}
            publishDate={project.frontmatter.publishDate.toString().slice(0, 10)}
            heroImage={project.frontmatter.heroImage}
            heroAlt={project.frontmatter.heroAlt}
          />
        ))
      }
    </div>
  </div>
</Base>
