---
import { Icon } from 'astro-icon/components'

import { CONFIG_CLIENT } from '@/config/client.ts'

const {
    AUTHOR_EMAIL,
    AUTHOR_FACEBOOK,
    AUTHOR_LINKEDIN,
    AUTHOR_GITHUB,
    AUTHOR_BLUESKY,
} = CONFIG_CLIENT
---

<ul class="xs:flex-nowrap flex flex-wrap gap-2 lg:items-center">
  <li>
    <a
      href={`mailto:${AUTHOR_EMAIL}`}
      target="_blank"
      rel="me noreferrer noopener"
      title="Email"
      class="xs:text-lg flex items-center gap-2 text-base"
    >
      <Icon
        name="tabler:mail"
        class="h-6 w-6 fill-current text-lime-600"
      />
    </a>
  </li>
  <li>
    <a
      href={`${AUTHOR_FACEBOOK}`}
      target="_blank"
      rel="me noreferrer noopener"
      title="Facebook"
      class="xs:text-lg flex items-center gap-2 text-base"
    >
      <Icon
        name="tabler:brand-facebook"
        class="h-6 w-6 fill-current text-blue-600"
      />
    </a>
  </li>
  <li>
    <a
      href={`${AUTHOR_LINKEDIN}`}
      target="_blank"
      rel="me noreferrer noopener"
      title="Linkedin"
      class="xs:text-lg flex items-center gap-2 text-base"
    >
      <Icon
        name="tabler:brand-linkedin"
        class="h-6 w-6 fill-current text-blue-600"
      />
    </a>
  </li>
  <li>
    <a
      href={`${AUTHOR_GITHUB}`}
      target="_blank"
      rel="me noreferrer noopener"
      title="Github"
      class="xs:text-lg flex items-center gap-2 text-base"
    >
      <Icon
        name="tabler:brand-github"
        class="h-6 w-6 fill-current text-slate-600 dark:text-slate-400"
      />
    </a>
  </li>
  <li>
    <a
      href={`${AUTHOR_BLUESKY}`}
      target="_blank"
      rel="me noreferrer noopener"
      title="Trakteer"
      class="xs:text-lg flex items-center gap-2 text-base"
    >
      <Icon
        name="tabler:brand-bluesky"
        class="h-6 w-6 fill-current text-sky-600"
      />
    </a>
  </li>
</ul>
