---
import { getCollection } from 'astro:content'
import { formatDate } from '@/lib/helper'

import Base from '@/layouts/Base.astro'
import Card from '@/components/PostCard.astro'


const { tag } = Astro.params;
if (!tag) return Astro.redirect('/404');

const allItems = await getCollection('blog');
const posts = allItems.filter(item => item.data.tags && item.data.tags.includes(tag));
if (posts.length === 0) return Astro.redirect('/404');

---

<Base meta={{ title: 'Posts tagged with ' + tag }}>
  <h2 class="mb-10 text-2xl font-heading tracking-wide w500:text-lg">
    Posts tagged with <span class="text-text dark:text-darkText">#{tag}</span>
  </h2>
  <div class="grid grid-cols-2 gap-5 w700:grid-cols-1">
    {
      posts.map((post) => (
        <Card
          url={`/${post.slug}`}
          heroImage={post.data.heroImage}
          heroAlt={post.data.heroAlt}
          title={post.data.title}
          description={post.data.description}
          publishDate={formatDate(post.data.publishDate)}
        />
      ))
    }
  </div>
</Base>
